.sideContent{
    margin-left: 25%;    
    width: 70%;
}

/* Header.css */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  

  .left-section {
    display: flex;
    align-items: center;
    width: 172px;
  }
  
  .logo {
    height: 30px; /* Adjust the size of the logo as needed */
    margin-right: 10px;
  }
  
  .dropdown {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
    color: white; /* Text color */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .arrow {
    margin-left: 5px;
  }
  
  .right-section {
    color: #2e6b74; /* Text color to match the design */
    font-size: 20px; /* Adjust font size as needed */
  }
  
  .balance {
    color: #00aaff; /* Color for the balance value */
  }
  
.header-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
    background-color: rgba(40, 174, 213, 0.2);
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
  }
  .left-section-1 {
    display: flex;
    align-items: center;
    background-color: #011217;
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
  }
  .logo {
    height: 30px; /* Adjust the size of the logo as needed */
    margin-right: 10px;
  }
  
  .dropdown {
    display: flex;
    align-items: center;
    color: white; /* Text color */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .arrow {
    margin-left: 5px;
    font-size: 12px; /* Adjust arrow size as needed */
  }
  
/* NotConnected.css */
.not-connected-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: #28AED5; /* Line color to match the design */
  }
  
  .status {
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: white; /* Text color */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #fc466b; /* Red dot color */
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }
  
.itemsss{
    font-size: 7px;
}
.content{
    margin-top: 5px;
}
.dropdown:hover{
    /* background-color: #2a354c !important;     */
    cursor: pointer;
}
.connectButton{
    background-color:#2673fa;
    width:100%; 
    border-right:2px solid #2673fa; 
    border-bottom:4px solid #2673fa; 
    padding:10px 0px;
    font-size:20px;
    border-radius:10px;
    color: white;

}
.addressInput::placeholder{
font-size: 25px !important;
}
.addressInput{
font-size: 18px !important;
}
.connectButtonAnothers{
    background-color:white;
    color: #2673fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-right:2px solid #2673fa; 
    border-bottom:2px solid #2673fa; 
    padding:10px 14px;
    font-size:14px;
    border-radius:5px;
    font-weight: 380;
}
.connectButtonAnother{
    background-color:white;
    width:100%;
    height: 32px;
    color: #2673fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-right:2px solid #2673fa; 
    border-bottom:2px solid #2673fa; 
    padding:10px 14px;
    font-size:14px;
    border-radius:5px;
    font-weight: 380;
}
.innerHeadingLeft{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border-bottom: 1px solid #2f3645 !important; */
}
.froms{
    color: #a9acb4;
    font-size: 14px;
    margin-left:10px !important ;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.InputsAddress::placeholder{
    font-size: 15px !important;
}
.InputsAddress{
    background-color: transparent;
    height:60px;
    width:60%;
    margin: 20px 0px;
    border: 1px solid gray;
    border-radius: 10px;
    outline: 0;
    /* border: 0; */
    font-size: 30px;
    color:black;        
}
.InputsAddress-1::placeholder{
    font-size: 15px !important;
    color: #28AED5;
}
.InputsAddress-1{
    background-color: transparent;
    height:60px;
    width:60%;
    margin: 20px 0px;
    border: 0;
    border-bottom: 1px solid #28AED5;
    /* border-radius: 10px; */
    outline: 0;
    /* border: 0; */
    font-size: 30px;
    color:black;        
}
.Inputs::placeholder{
    font-size: 20px;
}
.Inputs{
    background-color: transparent;
    height:40px;
    width:60%;
    outline: 0;
    border: 0;
    font-size: 30px;
    color:black;    
}

.drops{
    margin-left:10px !important;
}
@media only screen and (max-width: 2000px) and (min-width: 1700px) {
    .mainContent{
        margin:2% 35% !important
    }    
}
@media only screen and (max-width: 1700px) and (min-width: 1500px) {
    .mainContent{
        margin:2% 32% !important
    }    
    
}
@media only screen and (max-width: 1500px) and (min-width: 1200px) {
    .mainContent{
        margin:2% 30% !important
    }    
}
@media only screen and (max-width: 1200px) and (min-width: 1180px) {
    .mainContent{
        margin:2% 12% !important
    }    
}
@media only screen and (max-width: 1180px) and (min-width: 700px) {
    .mainContent{
        margin:2% 20% !important
    }    
}
@media only screen and (max-width: 700px) and (min-width: 400px) {
    .mainContent{
        margin:2% 0% !important
    }
}
@media only screen and (max-width: 400px) and (min-width: 200px) {
    .checkIntoHeading{
        font-size: 20px !important;
    }
    .logoOfChain{
        width: 20px !important;
        height: 20px !important;
    }
    .chainNames{
        font-size: 15px !important;
    }
}


@media only screen and (max-width: 400px) and (min-width: 100px) {
    .mainContent{
        margin:2% 5% !important
    }
}
@media only screen and (max-width: 700px) and (min-width: 200px) {
    .navbarResp{
        display: flex !important;
    }
    .resp {
        display: none !important;
    }
    .sideContent{
        margin: auto !important;
        /* margin-left: 20% !important;     */
        width: 90% !important;
    }
}

@media only screen and (max-width: 572px) and (min-width: 470px) {
    .itemsss{
        font-size: 5px;
    }
}
@media only screen and (max-width: 470px) and (min-width: 388px) {
    .brand{
        font-size: 10px !important;
    }
    .itemsss{
        width: 100%;
        font-size: 7px;
    }
}
@media only screen and (max-width: 388px) and (min-width: 350px) {
    .brand{
        font-size: 8px !important;
    }
    .itemsss{
        width: 100%;
        font-size: 7px;
    }
}
@media only screen and (max-width: 350px) and (min-width: 70px) {
    .brand{
        font-size: 9px !important;
    }
    .itemsss{
        width: 80px !important;
        font-size: 5px;
    }
}



















.container-1 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #000; /* Assuming the background is black */
    padding: 10px 10px 0px 10px;
    height: 140px;
    border-radius: 8px;
    width: 95%; /* Adjust as necessary */
  }
  
  .from-section-1 {
    display: flex;
    font-size: 17px;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .from-text-1 {
    color: white;
    font-size: 16px;
    margin-right: 5px;
  }
  
  .dropdown-1 {
    display: flex;
    align-items: center;
    background-color: #222; /* Dark background for dropdown */
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
  }
  
  .icon-1 {
    width: 20px; /* Adjust size as necessary */
    height: 20px; /* Adjust size as necessary */
    margin-right: 5px;
  }
  
  .dropdown-text-1 {
    color: white;
    font-size: 16px;
  }
  
  .dropdown-arrow-1 {
    color: white;
    margin-left: auto;
  }
  
  .input-section-1 {
    width: 100%;
    margin-top: 5px;
  }
  
  .input-field-1 {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px dashed #28AED5; /* Dashed border with 20% opacity color */
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;
  }
  