.sideContent{
    margin-left: 25%;    
    width: 70%;
}
.itemsss{
    font-size: 7px;
}
.content{
    margin-top: 5px;
}
.dropdown:hover{
    background-color: #2a354c !important;    
    cursor: pointer;
}
.connectButton{
    background-color:#fcff6b;
    width:100%; 
    border-right:2px solid #dac400; 
    border-bottom:4px solid #dac400; 
    padding:10px 0px;
    font-size:20px;
    border-radius:10px
}
.connectButtonAnother{
    background-color:#fcff6b;
    width:100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-right:2px solid #dac400; 
    border-bottom:2px solid #dac400; 
    padding:10px 14px;
    font-size:14px;
    border-radius:5px;
    font-weight: 380;
}
.innerHeadingLeft{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid #2f3645 !important;
}
.froms{
    color: #a9acb4;
    font-size: 14px;
    margin-left:10px !important ;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.Inputs{
    background-color: transparent;
    height:40px;
    width:60%;
    outline: 0;
    border: 0;
    font-size: 30px;
    color:white;    
}
.drops{
    margin-left:10px !important;
}
@media only screen and (max-width: 1200px) and (min-width: 700px) {
    .mainContent{
        margin:8% 32% !important
    }    
}
@media only screen and (max-width: 700px) and (min-width: 400px) {
    .mainContent{
        margin:8% 25% !important
    }
}



@media only screen and (max-width: 400px) and (min-width: 100px) {
    .mainContent{
        margin:8% 5% !important
    }
}
@media only screen and (max-width: 700px) and (min-width: 200px) {
    .mainContent{
        margin:8% 25% !important
    }
    .navbarResp{
        display: flex !important;
    }
    .resp {
        display: none !important;
    }
    .sideContent{
        margin: auto !important;
        /* margin-left: 20% !important;     */
        width: 90% !important;
    }
}

@media only screen and (max-width: 572px) and (min-width: 470px) {
    .itemsss{
        font-size: 5px;
    }
}
@media only screen and (max-width: 470px) and (min-width: 388px) {
    .brand{
        font-size: 10px !important;
    }
    .itemsss{
        width: 100%;
        font-size: 7px;
    }
}
@media only screen and (max-width: 388px) and (min-width: 350px) {
    .brand{
        font-size: 8px !important;
    }
    .itemsss{
        width: 100%;
        font-size: 7px;
    }
}
@media only screen and (max-width: 350px) and (min-width: 70px) {
    .brand{
        font-size: 9px !important;
    }
    .itemsss{
        width: 80px !important;
        font-size: 5px;
    }
}